<% provide(:title, 'Log in') %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h1>Log in</h1>

<%= form_for(:session , url: login_path) do |f| %>
  <%= f.label :email %><br>
  <%= f.email_field :email, class: 'material' %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password, class: 'material' %><br>

  <%= f.label :remember_me, class: "checkbox inline" do %>
    <%= f.check_box :remember_me %>
    <span>Remember me on this computer</span>
  <% end %>

  <br><br>

  <%= f.submit 'Log in', class: 'material' %>

<% end %>

<p>New user? <%= link_to  "Sign up now!", new_user_path %></p>