<header>
  <h1>Awesomic Rails App!</h1>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "About", about_path %></li>
      <% if logged_in? %>
          <%= link_to  "Logout", logout_path, method: :delete %>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
      
    </ul>
  </nav>
</header>